#about {
    background: black;
    height: 100%;
}

.about-container {
    padding: 10%;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.about-container h2 {
    font: 300 2.1rem/1.2 "Oswald", sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about-container hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.about-text {
    text-align: justify;
    font: 300 1rem/1.6 "Lato", sans-serif;
}

@media screen and (min-width: 1000px) {
    .about-container {
        width: 80%;
    }
}