.contact-container {
  /* works on safari aswell */
  background-image: url(../images/sheet_music_edit.jpg);
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  z-index: 25;
}

.contact-container .content {
  padding: 10%;

}

#contact hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#contact h2 {
  color: white;
  font: 300 2.1rem/1.2 "Oswald", sans-serif;
}

textarea {
  resize: none;
  fill: none;
  background-color: none;
  color: white;
}

.form-label {
  font-size: 12px;
  color: transparent;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}

.form-control {
  border-radius: 0;
  border-color: white;
  background-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  box-shadow: none;
  border-radius: 2px;
  color: white;
}

.form-control::placeholder {
  color: white;
}

/* submit button styling */
.btn-start-order {
  display: inline-block;
  border-radius: 5%;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

@media screen and (min-width: 1400px) {
  .btn-start-order {
    font: 16px/1.2 "Oswald", sans-serif;
  }


}

.btn-start-order::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn-start-order::after {
  transition: border 0.1s linear 0.05s;
}

.btn-start-order .btn-inner {
  position: relative;
  z-index: 2;
}

.btn-start-order .btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

.btn-start-order:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn-start-order:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

@media screen and (max-width: 900px) {
  .contact-container {
    /* works on safari aswell */
    background-attachment: scroll;
  }
}