#footer {
    padding: 8% 3%;
    color: white;
    background: black;
}

#footer hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-right: auto;
    margin-left: auto;
}

#footer p {
    margin-top: 10px;
    font: 200 0.7rem/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

/* styling for footer */
.effect {
    display: flex;
    flex-direction: column;
}

.effect p {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: white;
    border: 2px solid white;
}

.effect a i {
    position: relative;
    z-index: 3;
}

.effect a:last-child {
    margin-right: 0px;
}

.effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.effect a i {
    display: inline-block;
    vertical-align: middle;
}

/* varrius effect */
.effect.varrius a {
    transition: all 0.2s linear 0s;
}

.effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.effect.varrius a:hover {
    color: black;
}

.effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}