/* main header */
html {
    scroll-behavior: smooth;
}

/* navbar styling */

#Navbar {
    background: black;
    font-size: 1.5rem;
}

#navbar-container {
    background: black;
    color: white;
    letter-spacing: 3px;
}

#navbar-container a {
    color: white;
    text-decoration: none;
}