#social {
  padding: 10%;
  background: black;
  height: 100%;
  color: white;
  text-align: center;
}

#social h2 {
  font: 200 2.1rem/1.2 'Oswald', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 1500px) {
  #social h2 {
    font: 200 3.1rem/1.2 'Oswald', sans-serif;
  }
}

#social hr {
  border: 0;
  height: 0.75px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  margin-bottom: 2rem;
}

#instafeed {
  margin-bottom: 2rem;
}

#instafeed img {
  border-radius: 1%;
}

/* follow us button */
#social .btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 1rem/1.2 'Oswald', sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
  min-width: 170px;
}

#social .btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

#social .btn::after {
  transition: border 0.1s linear 0.05s;
}

#social .btn .btn-inner {
  position: relative;
  z-index: 2;
}

#social .btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

#social .btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

#social .btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}
