#social {
    padding: 10%;
    background: white;
    height: 100%;
    color: black;
    text-align: center;
}


#social h2 {
    font: 200 2.1rem/1.2 "Oswald", sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.instaimg img {
    margin-bottom: 2px;
    width: 35rem;
    height: 25rem;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;
}

.instaimg {
    padding-left:2px;
    padding-right: 2px;
}

.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8
}

#social hr {
    border: 0;
    height: 0.75px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .instaimg img{
        height: 200px;

    }
}